
body{
    background: url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) no-repeat center fixed;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;   
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
    display:flex;
    justify-content: center;
    z-index: 999;
}
  
.dice {
    text-align: center;
    display: inline-block;
    z-index: 999;
}
.box {
    display: flex;
    justify-content: center;
    z-index: 999;
}

h1 {
    margin: 30px;
    text-shadow: 5px 0 #232912;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(58, 194, 137);
    
  line-height: 1.5;
  text-align: center;
}

p {
    font-size: 2rem;
    color: #0b70b4;
    font-family: 'Abril Fatface', cursive;
}

img {
    width: 80%;
    border-radius: 13px;
background: #d6a4a4;
box-shadow:  15px -15px 11px #99935fa2,
             -15px 15px 11px #c09d9d;
}

footer {
    margin-top: 10%;
    color: #201d1d;
    text-align: center;
    font-family: 'Ubuntu Mono', cursive;
    z-index: 1;
}

button {
    top: 0%;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
}
